In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
import random

from sklearn import preprocessing, svm 
 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

from pprint import pprint

In [3]:
student_data = pd.read_csv('C:\\Users\\Shreyansh jain\\Desktop\\Student-Intervention-master\\student-data.csv')
print ("Student data read successfully!")

Student data read successfully!

# Preprocessing

In [4]:
feature_cols = list(student_data.columns[:-1])  
target_col = student_data.columns[-1]  
print("Feature column(s):{}".format(feature_cols))
print("\nTarget column: {}".format(target_col))
x = student_data[feature_cols]  
y_all = student_data[target_col]

Feature column(s):['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']

Target column: passed

In [5]:
def preprocess_features(X):
    df_preprocess = pd.DataFrame(index=X.index)
    for colname, col_data in X.iteritems():
        if col_data.dtype == object: 
            col_data = col_data.replace(['yes', 'no'], [1, 0])
        if col_data.dtype == object:
            col_data = pd.get_dummies(col_data, prefix=colname)
        df_preprocess = df_preprocess.join(col_data)  # collect column(s) in output dataframe
    return df_preprocess
X_all = preprocess_features(x)


print("Processed Feature Columns")
X_all.head()

Processed Feature Columns

,school_GP,school_MS,sex_F,sex_M,age,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,1,0,1,0,18,0,1,1,0,1,...,1,0,0,4,3,4,1,1,3,6
1,1,0,1,0,17,0,1,1,0,0,...,1,1,0,5,3,3,1,1,3,4
2,1,0,1,0,15,0,1,0,1,0,...,1,1,0,4,3,2,2,3,3,10
3,1,0,1,0,15,0,1,1,0,0,...,1,1,1,3,2,2,1,1,5,2
4,1,0,1,0,16,0,1,1,0,0,...,1,0,0,4,3,2,1,2,5,4

In [6]:
y = pd.DataFrame(y_all, index = y_all.index)
y = y.replace(['yes', 'no'], [1, 0])
df_data = pd.concat([X_all, y], axis = 1)

df_data.head()

,school_GP,school_MS,sex_F,sex_M,age,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,1,0,1,0,18,0,1,1,0,1,...,0,0,4,3,4,1,1,3,6,0
1,1,0,1,0,17,0,1,1,0,0,...,1,0,5,3,3,1,1,3,4,0
2,1,0,1,0,15,0,1,0,1,0,...,1,0,4,3,2,2,3,3,10,1
3,1,0,1,0,15,0,1,1,0,0,...,1,1,3,2,2,1,1,5,2,1
4,1,0,1,0,16,0,1,1,0,0,...,0,0,4,3,2,1,2,5,4,1

# Linear Regression

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X_all, y, test_size = 0.25) 
  
# Splitting the data into training and testing data 
regr = LinearRegression() 
  
regr.fit(X_train, y_train) 
preds = regr.predict(X_train)
training_error = mean_absolute_error(y_train, preds)#mean absolute value for test data
#test_data = test[target]
predict_test = regr.predict(X_test)
test_data_error = mean_absolute_error(y_test, predict_test)

In [8]:
accuracy = r2_score(y_train, preds)#on test data
accuracy2 = r2_score(y_test, predict_test)
print('This model accounts for {}% of the training data with mean data error of {}'.format(round(accuracy*100,2), round(training_error,2)))
print('This model accounts for {}% of the testing data with mean data error of {}'.format(round(accuracy2*100,2), round(test_data_error,2)))

This model accounts for 26.02% of the training data with mean data error of 0.34
This model accounts for 3.76% of the testing data with mean data error of 0.38

# Perceptron

In [19]:
x_train,x_test,y_train,y_test=train_test_split(X_all,y,test_size=0.40,random_state=0)
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()
sc.fit(x_train)
x_train_std=sc.transform(x_train)
x_test_std=sc.transform(x_test)

In [20]:
from sklearn.linear_model import Perceptron


ppn = Perceptron(max_iter=40,eta0=0.1, random_state=0)
ppn.fit(x_train_std, y_train)
y_pred = ppn.predict(x_test_std)

c:\users\shreyansh jain\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [21]:
from sklearn.metrics import accuracy_score

print('Accuracy: %0.2f' % accuracy_score(y_test,y_pred))

Accuracy: 0.67

# Logistic Regression

In [22]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(C=1000.0,random_state=0)
lr.fit(x_train_std,y_train)

c:\users\shreyansh jain\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\shreyansh jain\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1000.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
lr.predict_proba(x_test_std)

array([[2.75825248e-01, 7.24174752e-01],
       [3.53956489e-01, 6.46043511e-01],
       [8.87668097e-01, 1.12331903e-01],
       [3.45845554e-01, 6.54154446e-01],
       [3.38636696e-01, 6.61363304e-01],
       [6.44624775e-02, 9.35537522e-01],
       [7.29728826e-01, 2.70271174e-01],
       [3.32860578e-02, 9.66713942e-01],
       [3.67837484e-01, 6.32162516e-01],
       [5.40398314e-02, 9.45960169e-01],
       [1.58613344e-01, 8.41386656e-01],
       [5.86249863e-01, 4.13750137e-01],
       [4.06076918e-02, 9.59392308e-01],
       [1.56873699e-01, 8.43126301e-01],
       [9.83317321e-02, 9.01668268e-01],
       [1.48872268e-02, 9.85112773e-01],
       [9.09580200e-01, 9.04198002e-02],
       [6.10346478e-01, 3.89653522e-01],
       [1.04733392e-01, 8.95266608e-01],
       [9.73171574e-03, 9.90268284e-01],
       [2.37075684e-01, 7.62924316e-01],
       [9.80398854e-01, 1.96011461e-02],
       [2.79021239e-01, 7.20978761e-01],
       [1.72658658e-01, 8.27341342e-01],
       [1.09644674e-01, 8.90355326e-01],
       [2.84525276e-01, 7.15474724e-01],
       [3.25446375e-01, 6.74553625e-01],
       [1.04306593e-01, 8.95693407e-01],
       [2.05512935e-01, 7.94487065e-01],
       [9.35409501e-02, 9.06459050e-01],
       [9.36653237e-01, 6.33467628e-02],
       [9.72010532e-01, 2.79894678e-02],
       [5.90889216e-01, 4.09110784e-01],
       [6.48653096e-01, 3.51346904e-01],
       [5.25229855e-03, 9.94747701e-01],
       [9.15947749e-01, 8.40522510e-02],
       [5.33796019e-02, 9.46620398e-01],
       [3.14937270e-01, 6.85062730e-01],
       [4.78712357e-02, 9.52128764e-01],
       [7.35304049e-02, 9.26469595e-01],
       [4.05923515e-01, 5.94076485e-01],
       [2.99525714e-02, 9.70047429e-01],
       [8.27204934e-01, 1.72795066e-01],
       [2.32618112e-01, 7.67381888e-01],
       [7.27257723e-02, 9.27274228e-01],
       [9.70211925e-01, 2.97880753e-02],
       [8.31868360e-02, 9.16813164e-01],
       [4.52399169e-01, 5.47600831e-01],
       [1.14798853e-01, 8.85201147e-01],
       [8.19918605e-01, 1.80081395e-01],
       [3.09100058e-02, 9.69089994e-01],
       [8.96522415e-02, 9.10347759e-01],
       [6.81295710e-03, 9.93187043e-01],
       [1.65250636e-01, 8.34749364e-01],
       [9.23517490e-02, 9.07648251e-01],
       [6.68860820e-01, 3.31139180e-01],
       [6.16501071e-01, 3.83498929e-01],
       [1.96160854e-01, 8.03839146e-01],
       [4.78863991e-02, 9.52113601e-01],
       [6.57733802e-02, 9.34226620e-01],
       [2.93773318e-01, 7.06226682e-01],
       [2.21516857e-01, 7.78483143e-01],
       [4.44586985e-02, 9.55541301e-01],
       [1.53098105e-02, 9.84690189e-01],
       [8.23888944e-02, 9.17611106e-01],
       [4.67500737e-02, 9.53249926e-01],
       [2.95328811e-01, 7.04671189e-01],
       [6.64963496e-01, 3.35036504e-01],
       [3.18675504e-01, 6.81324496e-01],
       [6.28330754e-01, 3.71669246e-01],
       [1.33939593e-02, 9.86606041e-01],
       [1.69250945e-02, 9.83074906e-01],
       [2.80206303e-01, 7.19793697e-01],
       [7.55099839e-01, 2.44900161e-01],
       [5.46011273e-01, 4.53988727e-01],
       [2.13196211e-01, 7.86803789e-01],
       [3.27420250e-01, 6.72579750e-01],
       [5.49126880e-01, 4.50873120e-01],
       [1.74752691e-01, 8.25247309e-01],
       [1.10581142e-01, 8.89418858e-01],
       [3.77612337e-01, 6.22387663e-01],
       [6.77259527e-01, 3.22740473e-01],
       [3.86487221e-01, 6.13512779e-01],
       [1.48541543e-01, 8.51458457e-01],
       [6.90983376e-01, 3.09016624e-01],
       [8.08200465e-01, 1.91799535e-01],
       [2.17273397e-02, 9.78272660e-01],
       [5.79785670e-02, 9.42021433e-01],
       [1.19965590e-02, 9.88003441e-01],
       [3.51084313e-01, 6.48915687e-01],
       [4.12917090e-01, 5.87082910e-01],
       [3.20327738e-01, 6.79672262e-01],
       [1.73375666e-01, 8.26624334e-01],
       [2.19928300e-01, 7.80071700e-01],
       [3.33888023e-01, 6.66111977e-01],
       [6.22246411e-01, 3.77753589e-01],
       [1.36444218e-01, 8.63555782e-01],
       [6.07200569e-01, 3.92799431e-01],
       [8.85712722e-01, 1.14287278e-01],
       [1.72044190e-02, 9.82795581e-01],
       [6.14026907e-01, 3.85973093e-01],
       [1.53760357e-01, 8.46239643e-01],
       [2.55694779e-01, 7.44305221e-01],
       [6.30266056e-01, 3.69733944e-01],
       [8.35717196e-02, 9.16428280e-01],
       [3.15649878e-02, 9.68435012e-01],
       [8.11890604e-03, 9.91881094e-01],
       [6.99215151e-01, 3.00784849e-01],
       [8.72690948e-01, 1.27309052e-01],
       [8.18621484e-01, 1.81378516e-01],
       [3.69588854e-01, 6.30411146e-01],
       [1.53400922e-01, 8.46599078e-01],
       [2.64224028e-02, 9.73577597e-01],
       [3.25518767e-01, 6.74481233e-01],
       [7.78401917e-01, 2.21598083e-01],
       [2.56798256e-01, 7.43201744e-01],
       [5.79121031e-01, 4.20878969e-01],
       [2.76941219e-02, 9.72305878e-01],
       [1.50518141e-01, 8.49481859e-01],
       [1.45063680e-01, 8.54936320e-01],
       [3.63344544e-01, 6.36655456e-01],
       [5.22328426e-01, 4.77671574e-01],
       [6.60514559e-02, 9.33948544e-01],
       [2.53496047e-01, 7.46503953e-01],
       [2.81712525e-01, 7.18287475e-01],
       [3.17091672e-01, 6.82908328e-01],
       [6.30881415e-02, 9.36911858e-01],
       [1.04683558e-02, 9.89531644e-01],
       [5.90216344e-01, 4.09783656e-01],
       [2.85678382e-01, 7.14321618e-01],
       [1.04858532e-01, 8.95141468e-01],
       [8.92174382e-01, 1.07825618e-01],
       [2.56128110e-01, 7.43871890e-01],
       [7.18013808e-01, 2.81986192e-01],
       [3.68670604e-01, 6.31329396e-01],
       [9.58062319e-01, 4.19376810e-02],
       [4.72460172e-01, 5.27539828e-01],
       [9.84715104e-04, 9.99015285e-01],
       [4.04692189e-03, 9.95953078e-01],
       [6.92781242e-01, 3.07218758e-01],
       [1.71922050e-01, 8.28077950e-01],
       [2.51240484e-01, 7.48759516e-01],
       [1.40074880e-01, 8.59925120e-01],
       [4.09352968e-02, 9.59064703e-01],
       [2.35833014e-02, 9.76416699e-01],
       [2.46355773e-01, 7.53644227e-01],
       [4.63450034e-02, 9.53654997e-01],
       [4.12745387e-01, 5.87254613e-01],
       [6.55202532e-01, 3.44797468e-01],
       [4.40555917e-01, 5.59444083e-01],
       [6.78317993e-02, 9.32168201e-01],
       [6.46600849e-01, 3.53399151e-01],
       [2.12548978e-01, 7.87451022e-01],
       [5.44242300e-01, 4.55757700e-01],
       [2.63796315e-02, 9.73620368e-01],
       [7.31415776e-02, 9.26858422e-01],
       [1.80268115e-01, 8.19731885e-01],
       [1.99289012e-02, 9.80071099e-01]])

In [24]:
y_pred=lr.predict(x_test_std)
from sklearn.metrics import accuracy_score
print('Accuracy %.2f' % accuracy_score(y_test,y_pred))

Accuracy 0.66

# Decision Tree

In [25]:
feature_cols = ['internet','romantic','famrel','freetime','goout','Dalc','Walc','health','absences','passed']
df = df_data[feature_cols]
df = df.rename(columns={"passed": "label"})
df

,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,label
0,0,0,4,3,4,1,1,3,6,0
1,1,0,5,3,3,1,1,3,4,0
2,1,0,4,3,2,2,3,3,10,1
3,1,1,3,2,2,1,1,5,2,1
4,0,0,4,3,2,1,2,5,4,1
...,...,...,...,...,...,...,...,...,...,...
390,0,0,5,5,4,4,5,4,11,0
391,1,0,2,4,5,3,4,2,3,1
392,0,0,5,5,3,3,3,3,3,0
393,1,0,4,4,1,3,4,5,0,1
394,1,0,3,2,3,3,3,5,5,0

In [40]:
def train_test_split(df, test_size):
    
    if isinstance(test_size, float):
        test_size = round(test_size * len(df))

    indices = df.index.tolist()
    test_indices = random.sample(population=indices, k=test_size)

    test_df = df.loc[test_indices]
    train_df = df.drop(test_indices)
    
    return train_df, test_df
random.seed(0)
train_df, test_df = train_test_split(df, test_size=0.3)

In [41]:
data = train_df.values
data[:5]

array([[ 1,  0,  5,  3,  3,  1,  1,  3,  4,  0],
       [ 1,  0,  4,  3,  2,  2,  3,  3, 10,  1],
       [ 1,  1,  3,  2,  2,  1,  1,  5,  2,  1],
       [ 0,  0,  4,  3,  2,  1,  2,  5,  4,  1],
       [ 1,  0,  5,  4,  2,  1,  2,  5, 10,  1]], dtype=int64)

In [42]:
def check_purity(data):
    
    label_column = data[:, -1]
    unique_classes = np.unique(label_column)

    if len(unique_classes) == 1:
        return True
    else:
        return False

In [43]:
def classify_data(data):
    
    label_column = data[:, -1]
    unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)

    index = counts_unique_classes.argmax()
    classification = unique_classes[index]
    
    return classification

In [44]:
def get_potential_splits(data):
    
    potential_splits = {}
    _, n_columns = data.shape
    for column_index in range(n_columns - 1):          # excluding the last column which is the label
        values = data[:, column_index]
        unique_values = np.unique(values)
        
        type_of_feature = FEATURE_TYPES[column_index]
        if type_of_feature == "continuous":
            potential_splits[column_index] = []
            for index in range(len(unique_values)):
                if index != 0:
                    current_value = unique_values[index]
                    previous_value = unique_values[index - 1]
                    potential_split = (current_value + previous_value) / 2

                    potential_splits[column_index].append(potential_split)
        
        # feature is categorical
        # (there need to be at least 2 unique values, otherwise in the
        # split_data function data_below would contain all data points
        # and data_above would be empty)
        elif len(unique_values) > 1:
            potential_splits[column_index] = unique_values
    
    return potential_splits

In [45]:
def split_data(data, split_column, split_value):
    
    split_column_values = data[:, split_column]

    type_of_feature = FEATURE_TYPES[split_column]
    if type_of_feature == "continuous":
        data_below = data[split_column_values <= split_value]
        data_above = data[split_column_values >  split_value]
    
    # feature is categorical   
    else:
        data_below = data[split_column_values == split_value]
        data_above = data[split_column_values != split_value]
    
    return data_below, data_above

In [46]:
def calculate_entropy(data):
    
    label_column = data[:, -1]
    _, counts = np.unique(label_column, return_counts=True)

    probabilities = counts / counts.sum()
    entropy = sum(probabilities * -np.log2(probabilities))
     
    return entropy

In [47]:
def calculate_overall_entropy(data_below, data_above):
    
    n = len(data_below) + len(data_above)
    p_data_below = len(data_below) / n
    p_data_above = len(data_above) / n

    overall_entropy =  (p_data_below * calculate_entropy(data_below) 
                      + p_data_above * calculate_entropy(data_above))
    
    return overall_entropy

In [48]:
def determine_best_split(data, potential_splits):
    
    overall_entropy = 9999
    for column_index in potential_splits:
        for value in potential_splits[column_index]:
            data_below, data_above = split_data(data, split_column=column_index, split_value=value)
            current_overall_entropy = calculate_overall_entropy(data_below, data_above)

            if current_overall_entropy <= overall_entropy:
                overall_entropy = current_overall_entropy
                best_split_column = column_index
                best_split_value = value
    
    return best_split_column, best_split_value

In [49]:
def determine_type_of_feature(df):
    
    feature_types = []
    n_unique_values_treshold = 15
    for feature in df.columns:
        if feature != "label":
            unique_values = df[feature].unique()
            example_value = unique_values[0]

            if (isinstance(example_value, str)) or (len(unique_values) <= n_unique_values_treshold):
                feature_types.append("categorical")
            else:
                feature_types.append("continuous")
    
    return feature_types

In [50]:
def decision_tree_algorithm(df, counter=0, min_samples=2, max_depth=5):
    
    # data preparations
    if counter == 0:
        global COLUMN_HEADERS, FEATURE_TYPES
        COLUMN_HEADERS = df.columns
        FEATURE_TYPES = determine_type_of_feature(df)
        data = df.values
    else:
        data = df           
    
    
    # base cases
    if (check_purity(data)) or (len(data) < min_samples) or (counter == max_depth):
        classification = classify_data(data)
        
        return classification

    
    # recursive part
    else:    
        counter += 1

        # helper functions 
        potential_splits = get_potential_splits(data)
        split_column, split_value = determine_best_split(data, potential_splits)
        data_below, data_above = split_data(data, split_column, split_value)
        
        # determine question
        feature_name = COLUMN_HEADERS[split_column]
        type_of_feature = FEATURE_TYPES[split_column]
        if type_of_feature == "continuous":
            question = "{} <= {}".format(feature_name, split_value)
            
        # feature is categorical
        else:
            question = "{} = {}".format(feature_name, split_value)
        
        # instantiate sub-tree
        sub_tree = {question: []}
        
        # find answers (recursion)
        yes_answer = decision_tree_algorithm(data_below, counter, min_samples, max_depth)
        no_answer = decision_tree_algorithm(data_above, counter, min_samples, max_depth)
        # If the answers are the same, then there is no point in asking the qestion.
        # This could happen when the data is classified even though it is not pure
        # yet (min_samples or max_depth base case).
        if yes_answer == no_answer:
            sub_tree = yes_answer
        else:
            sub_tree[question].append(yes_answer)
            sub_tree[question].append(no_answer)
        
        return sub_tree

In [71]:
tree = decision_tree_algorithm(train_df, max_depth=3)
pprint(tree)

{'health = 1': [{'absences <= 13.5': [1, {'goout = 5': [0, 1]}]},
                {'absences <= 12.5': [1, 0]}]}

In [66]:
example = test_df.iloc[0]
example

internet                     1
romantic                     0
famrel                       3
freetime                     3
goout                        4
Dalc                         3
Walc                         5
health                       3
absences                     8
label                        1
classification               1
classification_correct    True
Name: 197, dtype: object

In [67]:
def classify_example(example, tree):
    question = list(tree.keys())[0]
    feature_name, comparison_operator, value = question.split(" ")

    # ask question
    if comparison_operator == "<=":
        if example[feature_name] <= float(value):
            answer = tree[question][0]
        else:
            answer = tree[question][1]
    
    # feature is categorical
    else:
        if str(example[feature_name]) == value:
            answer = tree[question][0]
        else:
            answer = tree[question][1]

    # base case
    if not isinstance(answer, dict):
        return answer
    
    # recursive part
    else:
        residual_tree = answer
        return classify_example(example, residual_tree)

In [68]:
classify_example(example, tree)

1

In [69]:
def calculate_accuracy(df, tree):

    df["classification"] = df.apply(classify_example, args=(tree,), axis=1)
    df["classification_correct"] = df["classification"] == df["label"]
    
    accuracy = df["classification_correct"].mean()
    
    return accuracy

In [70]:
accuracy = calculate_accuracy(test_df, tree)
accuracy

0.7033898305084746